/.vscode
/node_modules
/sb-admin-2
/public/hot
/public/storage
/public/image/uploaded
/public/file_src_name_ext
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
